USE [master]
GO
/****** Object:  Database [PayDB]    Script Date: 25.06.2023 20:23:31 ******/
CREATE DATABASE [PayDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PayDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PayDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PayDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PayDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PayDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PayDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apartament]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apartament](
	[IDApartament] [int] IDENTITY(1,1) NOT NULL,
	[NumarApartament] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDApartament] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apometre]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apometre](
	[IdApometre] [int] IDENTITY(1,1) NOT NULL,
	[Iduser] [int] NOT NULL,
	[ap1] [varchar](10) NULL,
	[ap2] [varchar](10) NULL,
	[ap3] [varchar](10) NULL,
	[ap4] [varchar](10) NULL,
	[TransmitereData] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdApometre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bloc]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bloc](
	[IDBloc] [int] IDENTITY(1,1) NOT NULL,
	[NumarBloc] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDBloc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[Id_utilizator] [int] NOT NULL,
	[TotalApa] [decimal](20, 0) NULL,
	[TotalRetim] [decimal](20, 0) NULL,
	[TotalAdmin] [decimal](20, 0) NULL,
	[TotalCuratenie] [decimal](20, 0) NULL,
	[ApaUsage] [decimal](20, 0) NULL,
	[RetimUsage] [decimal](20, 0) NULL,
	[AdminUsage] [decimal](20, 0) NULL,
	[CuratenieUsage] [decimal](20, 0) NULL,
	[TransmitereData] [date] NULL,
	[IsPaid] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Judet]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Judet](
	[IDJudet] [int] IDENTITY(1,1) NOT NULL,
	[NumeJudet] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDJudet] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locatii]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locatii](
	[IdLocatii] [int] IDENTITY(1,1) NOT NULL,
	[IdUser] [int] NOT NULL,
	[judet] [varchar](30) NULL,
	[oras] [varchar](30) NULL,
	[strada] [varchar](60) NULL,
	[bloc] [varchar](10) NULL,
	[apartament] [int] NULL,
	[nrlocatari] [int] NULL,
	[nrapometre] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLocatii] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oras]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oras](
	[IDOras] [int] IDENTITY(1,1) NOT NULL,
	[NumeOras] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDOras] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Strada]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Strada](
	[IDStrada] [int] IDENTITY(1,1) NOT NULL,
	[NumeStrada] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDStrada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarife]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarife](
	[IdTarife] [int] IDENTITY(1,1) NOT NULL,
	[Id] [int] NOT NULL,
	[pret_retim] [varchar](10) NULL,
	[pret_curatenie] [varchar](10) NULL,
	[pret_admin] [varchar](10) NULL,
	[pret_apa] [varchar](10) NULL,
	[TransmitereData] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTarife] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilizator]    Script Date: 25.06.2023 20:23:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilizator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[tip] [int] NULL,
	[email] [varchar](30) NULL,
	[parola] [varchar](14) NULL,
	[nume] [varchar](30) NULL,
	[prenume] [varchar](30) NULL,
	[telefon] [varchar](10) NULL,
	[cnp] [varchar](13) NULL,
	[Token] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Apometre]  WITH CHECK ADD FOREIGN KEY([Iduser])
REFERENCES [dbo].[Utilizator] ([ID])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([Id_utilizator])
REFERENCES [dbo].[Utilizator] ([ID])
GO
ALTER TABLE [dbo].[Locatii]  WITH CHECK ADD FOREIGN KEY([IdUser])
REFERENCES [dbo].[Utilizator] ([ID])
GO
ALTER TABLE [dbo].[Tarife]  WITH CHECK ADD FOREIGN KEY([Id])
REFERENCES [dbo].[Utilizator] ([ID])
GO
USE [master]
GO
