<app-nav-bar></app-nav-bar>
<!-- Background image -->
<body>
    <div class="bg-image">
      <div clas="image img-responsive">

          <!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3>PayBlock - acces online pentru proprietăți</h3>
  <img src="assets/images/logo2-01.svg" class="img-responsive" alt="logo" width="300" height="150">
</div>

      </div>
    </div>

</body>

    <style>


      .bg-image{
        background-image: url('../assets/images/citybg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        border: none;
        width: 197vh;
        height: 90vh;
        margin-left: 0;
        margin-top: 0;
      }

    </style>
<!-- Background image -->






