<app-logout-page></app-logout-page>

<!--date de contact-->
<div class="container text-center" style="margin-top: 100px; margin-bottom: 200px; margin-left: 100px; margin-right: 50px;">
  <p class="lh-lg fw-bolder">Serviciului Public de Interes Local pentru Administrarea Cheltuielilor Locuintei - PayBlock</p>

  <div class="row row-cols-1 row-cols-md-3 g-4 ">
   <div class="col">
     <div class="card border-info mb-3" style="max-width: 18rem;">
       <div class="card-header">Sediu</div>
         <div class="card-body">
           <h5 class="card-title">Adresă:</h5>
           <p class="card-text">Aleea Martir Istvan Andrei, nr.22, Timisoara, Romania.</p>
          </div>
     </div>
    </div>

    <div class="col">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Administrație</div>
          <div class="card-body">
            <h5 class="card-title">Program:</h5>
            <p class="card-text">Luni - Vineri: 08.00 - 20.00; Sâmbătă, Duminică: [inchis]</p>
           </div>
      </div>
     </div>

     <div class="col">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Consultații online privind aplicația</div>
          <div class="card-body">
            <h5 class="card-title">Program:</h5>
            <p class="card-text">Luni - Vineri: 08.00 - 16.00; Sâmbătă, Duminică: [inchis]</p>
           </div>
      </div>
     </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col">
      <div class="card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header">Contact</div>
          <div class="card-body">
            <h5 class="card-title">Email</h5>
            <p class="card-text">contact.payblock@gmail.com</p>
           </div>
      </div>
     </div>

     <div class="col">
       <div class="card border-info mb-3" style="max-width: 18rem;">
         <div class="card-header">Apelează</div>
           <div class="card-body">
             <h5 class="card-title">Telefon</h5>
             <p class="card-text">+40.256/294391</p>
            </div>
       </div>
      </div>

      <div class="col">
       <div class="card border-info mb-3" style="max-width: 18rem;">
         <div class="card-header">Plată</div>
           <div class="card-body">
             <h5 class="card-title">Plata cu cardul bancar</h5>
             <p class="card-text">Plata se realiza cu cardul.</p>
            </div>
       </div>
      </div>
   </div>

</div>
