@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.row{
    width: 300px; /* Adjust the width of the input field */
    height: 30px; /* Adjust the height of the input field */
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn{
  padding: 5px 10px; /* Adjust the padding to make the buttons smaller */
    font-size: 14px; /* Adjust the font size for the button text */
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.error-message {
  white-space: nowrap;
}

